@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Playfair+Display:ital@1&family=Whisper&display=swap');
.block1{
background-color:#4C9400;
position: relative;
color:#365948;
font-family: "Playfair Display";
text-align: center;
}
.block2{
background-color: #578922;
position: relative;
color:#6FE28F ;
font-family: "Playfair Display";
}
ol{
    text-align: center;
}
table{
    text-align: center;
}
.block3{
background-color:#6FE28F ;
position: relative;
color:#578922 ;
font-family: "Playfair Display";
text-align: center;
}
.block4{
background-color: #365948;
position: relative;
color:#4C9400 ;
font-family: "Playfair Display";
text-align: center;
}
.h4-block1{
    background-color: #365948;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    color:#4C9400;
    font-size: 120%;
    font-family:Kalnia ;
    text-align:center;
}
.h4-block2{
    background-color: #6FE28F;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    color:#578922;
    font-size: 120%;
    font-family:Kalnia ;
    text-align:center;
}
.h4-block3{
    background-color: #578922;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    color:#6FE28F;
    font-size: 120%;
    font-family:Kalnia ;
    text-align:center;
}
.h4-block4{
    background-color: #4C9400;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    color:#365948;
    font-size: 120%;
    font-family:Kalnia ;
    text-align:center;
}
.name{
    text-align: center;
    font-family:Whisper;
}
