#a{
    padding: 10px;
    border: 5px solid black;
    margin: 20px;
    width: 300px;
    background-color: blue;
  }
  #a:hover{
    background-color: purple;
    color: white;
  }

  #basicinf{
    background-color: #88DD60;      
  }
  #chilhood{
    background-color: #6187CF;
  }
  #school{
    background-color: #2B9877;
  }
  #pozaschool{
    background-color: #9EA648;
  }
  #uni{
    background-color: #6E284E;     
  }
  #bio{
    background-color: #53259F;
  }
  h1{
    font-size: 22px;
    text-align: center;
  }
  .back{
    font-style: italic;
  }
 h3{
  text-align: center;
 }
 article{
  font-size: 120%;
 }
 h2{
  font-size: 144%;
 }
.back-to-zmist{
  font-weight: 700;
}
.up{
text-transform:uppercase;
}
